@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=cyrillic-ext,latin-ext);

/* global */

html, body {
  background-image: url('https://i.imgur.com/kSh1eoL.jpg');  
  background-color: rgb(38, 38, 38);
  color: #CCC;
	font-family: 'Roboto Slab', serif;
  font-size: 10.5pt;
}
a, .fa {
  color: #fff;
}
a:hover, .fa:hover, .spoiler a:hover {
  color: #81a2be;
}
pre {
  padding: 10px;
  background: rgba(10,10,10,0.95);
}

/* home */

#board-list-full {
  background: rgba(20,20,20,0.95);
}
#board-list-full .board-category {
  display: none;
}
#latest-news {
  background: rgba(20,20,20,0.95);
}
#latest-news > .title {
  font-weight: bold;
}
.news > .title {
  text-align: left !important;
}
#latest-news hr {
  border : none;
  border-top : 1px solid #282a2e;
  height : 0;
}
#home-content hr {
  display: none;
}

/* board */

header {
  background: rgba(20,20,20,0.95);
  padding: 2px 0px;
}
.banner {
  margin-top: 15px !important;
}
#board-header {
  font-weight: bold;
  color: white;
}
#board-summary, #board-subtitle {
  display: none;
}
input, textarea, select {
  background: rgba(20,20,20,0.5);
  border: 1px solid #999;
  color: #fff;
  margin: 1px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border : #000 solid 1px !important ;
}
.spoiler, .spoiler a {
  background: #111; 
  color: #111;
}
.spoiler:hover {
  color: #c5c8c6;
}
.quote, .symbol-counter {
  color: white !important;
}
.thread {
  padding: 5px 0px;
}
.reply.post, .popup-post, .feed.post {
  background: rgba(20,20,20,0.95);
  margin: 3px;
  padding: 5px;
  border: 1px solid #282a2e;
}
.reply.post.highlighted, .feed.post.highlighted {
  background: rgba(10,10,10,0.95)
}
.popup-message {
  background: rgba(20,20,20,0.95);
  border: 1px solid #282a2e;
  margin-top: 15px !important;
}
.reply-title {
  font-size: 12pt;
  color: #B294BB;
  font-weight: bold;
}
.poster-name {
  color:#C5C8C6;
  font-weight: bold;
}
.file-info, .file-name {
  font-size: 8pt;
}
.index-number {
  font-size: 10pt !important;
  font-weight: bold;
}
.op.post .dropdown-menu li ul {
  background-image: url('https://i.imgur.com/kSh1eoL.jpg');  
  background-color: rgb(38, 38, 38);
  padding: 3px;
}
.reply.post .dropdown-menu li ul, .pagination {
  background: rgba(20,20,20,0.95);
  padding: 3px;
}
.quick-post-form {
  padding: 4px;
}
#delete-container {
  text-align: right;
  margin: 0px 0px 5px 0px!important;
}
footer {
  text-align: center;
  font-size: 9pt;
}

/* h's on feed, home, help, settings and login pages */

h1, h2{
  color: #ccc;
  font-size: 18pt;
  font-weight: bold;
  margin: 10px 0px;
}
h2 .fa, h2 a {
  color: #ccc;
}
#main-title h1 {
  color: white;
  font-size: 22pt;
}

/* settings */

#message {
  font-size: 20pt;
  color: #fff;
}
table {
  background: rgba(20,20,20,0.95);
  margin: 5px 0px;
  padding: 5px;
}
