#message {
    font-size: 1.5em;
    border: 2px dashed red;
    color: black;
}

header {
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

header, .pagination {
    background-color: #e0e0e0;
}

html, body {
    background-color: #e0e0e0;
    background-image: url('/static/img/dust.jpg');
    color: #333333;
    font-family: serif;
    font-size: 1em;
    padding: 10px;
}

footer {
    background-color: #e0e0e0;
    color: #333333;
}

form {
    font-size: 0.9em;
}

textarea {
    background-color: #dddddd;;
    color: black;
}

input {
    background-color: #dddddd;;
    color: black;
}

input.submit {
    border: 0;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

.time {
    font-size: 0.8em;
    color: #666666;
}

a {
    color: #995b46;
    padding: 0;
}

a:hover {
    color: #ff6600;
}

footer {
    font-family: serif;
    font-size: 12px;
    margin: 2em 0 0;
    text-align: center;
    border-top: 1px solid rgba(10, 10, 10, 0.3);
    padding-top: 10px;
}

.reflink {
    font-size: 85%;
    font-weight: bold;
}

.file-info {
    color: #666666;
    font-size: 0.8em;
    text-decoration: none;
}

.file-name {
    font-size: 0.8em;
}

.reply.post, .feed .post {
    background: none repeat scroll 0 0 #cfcfcf;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    margin: 3px;
    padding: 5px;
}

.popup-post {
    background: none repeat scroll 0 0 #cfcfcf;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    margin: 3px;
    padding: 5px;
}

.reply.post.highlighted, .feed .post.highlighted {
    background: none repeat scroll 0 0 #c2c2c2;
    border: 1px dashed #ee6600;
}

.op.post.highlighted {
    background: none repeat scroll 0 0 #c2c2c2;
}

.thread {
    margin: 2px;
    border-top: 1px solid rgba(10, 10, 10, 0.3);
    padding: 25px 2px;
}

.reply-title {
    color: #002256;
    font-size: 1em;
    font-weight: bold;
}

hr {
    border-color: #505050;
    border-style: solid none none;
    border-width: 1px;
}

table {
    border-style: none;
}

table td {
    border-style: none;
}

#delete-container {
    text-align: right;
}

pre {
    background-color: #eeeeee;
    border: 1px dashed #dfdfdf;
    padding: 10px;
}

.board-category {
    font-weight: bold;
    background: none repeat scroll 0 0 #cfcfcf;
}

#board-list-full {
    border: 1px dotted black;
}

#latest-news {
    border: 1px dotted black;
}

#latest-news > .title {
    font-weight: bold;
    background: none repeat scroll 0 0 #cfcfcf;
}

.popup-message {
    background: none repeat scroll 0 0 #cfcfcf;
    border-radius: 3px;
    border: 1px solid black;
}

.quick-post-form {
    background: none repeat scroll 0 0 #cfcfcf;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    padding: 5px;
}

.hist-msg {
    background: none repeat scroll 0 0 #cfcfcf;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    margin: 3px;
    padding: 5px;
}

#board-header {
    color: #800000;
}

#board-long-desc {
    color: #800000;
}

#board-subtitle {
    color: #800000;
}

.admin-navbar {
    background-color: #cfcfcf;
    border-bottom: 1px solid rgba(10, 10, 10, 0.3);
    padding: 3px;
    margin-bottom: 10px;
}

#delete-container {
    border-top: 1px solid rgba(10, 10, 10, 0.3);
    padding-top: 10px;
}

.show-plain-form {
    margin-bottom: 10px;
}

.expand-post {
    color: #666666;
}

.quote {
    color: #206620;
}

.spoiler, .spoiler a {
    color: black;
    background-color: black;
}

.spoiler:hover {
    color:white;
}

.spoiler a:hover {
    color: #ff6600;
}


.pagination .previous {
    border-right: 1px solid rgba(10, 10, 10, 0.7);
    padding-right: 5px;
}

.pagination .next {
    border-left: 1px solid rgba(10, 10, 10, 0.7);
    padding-left: 5px;
}
.dropdown-menu ul li {
    background-color: #cfcfcf;
}
