#message {
    font-size: 1.5em;
    border: 2px dashed red;
    color: black;
}

header, .pagination {
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    background-color: #ffffee;
}

html, body {
    background-color: #ffffee;
    color: #600000;
    font-family: serif;
    font-size: 1em;
    padding: 10px;
}

form {
    font-size: 0.9em;
}

textarea {
    color: black;
    background-color: #ffffff;
}

input[type='text'] {
    background-color: #ffffff;
}

input {
    color: black;
}

input.submit {
    border: 0;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

.poster-name {
    color: #117743;
}

.post-block-named {
    background-color: #eeaa88;
    font-weight: bold;
    padding: 5px;
}

a i {
    color: #600000;
}

a {
    color: #0000ee;
    padding: 0;
}

a i:hover, a:hover {
    color: #dd0000;
}

footer {
    font-family: serif;
    font-size: 12px;
    margin: 2em 0 0;
    text-align: center;
    border-top: 1px solid rgba(50,50,50,0.5);
    padding-top: 10px;
}

.reflink {
    font-size: 85%;
    font-weight: bold;
}

.file-info {
    color: #666666;
    font-size: 0.8em;
    text-decoration: none;
}

.file-name {
    font-size: 0.8em;
}

.reply.post, .feed .post {
    background: none repeat scroll 0 0 #f0e0d6;
    border: 1px solid #ddccc5;
    margin: 4px;
    padding: 5px;
}

.popup-post {
    background: none repeat scroll 0 0 #f0e0d6;
    border: 1px solid #ddccc5;
    margin: 4px;
    padding: 5px;
}

.reply.post.highlighted, .feed .post.highlighted {
    border: 1px dashed #ee6600;
    background: none repeat scroll 0 0 #eedacb;
}

.op.post.highlighted {
    background: none repeat scroll 0 0 #eedacb;
}

.thread {
    margin: 2px;
    border-top: 1px solid rgba(50,50,50,0.5);
    padding: 25px 2px;
}

.reply-title {
    color: #002244;
    font-size: 1em;
    font-weight: bold;
}

hr {
    border-style: solid none #bbbbbb;
    border-width: 1px;
}

table {
    border-style: none;
}

table td {
    border-style: none;
}

#delete-container {
    text-align: right;
}

pre {
    background-color: #eeeeee;
    border: 1px dashed #dfdfdf;
    padding: 10px;
}

.board-category {
    font-weight: bold;
    background: none repeat scroll 0 0 #eeaa88;
}

#board-list-full {
    border: 1px solid #eeaa88;
}

#latest-news {
    border: 1px solid #eeaa88;
}

#news-title {
    font-weight: bold;
    background: none repeat scroll 0 0 #eeaa88;
}

.popup-message {
    background: none repeat scroll 0 0 #f0e0d6;
    border: 1px solid #ddccc5;
}

.quick-post-form {
    background: none repeat scroll 0 0 #f0e0d6;
    border: 1px solid #ddccc5;
    padding: 5px;
}

.hist-msg {
    backg1round: none repeat scroll 0 0 #f0e0d6;
    border: 1px solid #ddccc5;
    margin: 4px;
    padding: 5px;
}

.admin-navbar {
    border-top: 1px solid rgba(50,50,50,0.5);
    margin-bottom: 10px;
    padding: 3px;
    background-color: #f0e0d6;
}

#delete-container {
    border-top: 1px solid rgba(50,50,50,0.5);
    padding-top: 10px;
}

.show-plain-form {
    margin-bottom: 10px;
}

.markup-wrapper {
    background-color: #f0e0d6;
}

.expand-post {
    color: #666666;
}

.reply-title {
    color: #cc1105;
    font-size: 1.1em;
    font-weight: bold;
}

#pages-list {
    border: 1px solid grey;
    padding: 0 3px;
}

.dropdown-menu ul li {
    background-color: #f0e0d6;
}
.quote {
    color: green;
}
.spoiler, .spoiler a {
    color: black;
    background-color: black;
}
.spoiler a:hover {
    color: #dd0000;
}
.spoiler:hover {
    color:white;
}
