/* gl0bal style*/

* {
  text-shadow: 0px 0px 3px rgb(0,0,0);
}
a, .fa {
  color: black;
  transition: 0.3s;
}
a:hover, .fa:hover {
  color: white;
}
pre {
  background: rgba(255,255,255,0.2);
  padding: 10px;
}
img, video {
  filter: grayscale(100%);
}
textarea, input, select {
  background: rgba(255,255,255,0.2);
  border: none;
  margin: 2px;
  border-radius: 3px;
}
html, body {
  background: black url('https://i.imgur.com/5fDJWU3.jpg') no-repeat fixed center;
  background-size: cover;
  font-family: Calibri;
  font-size: 11pt;
}
#board-list-full, .block, .reply.post, .feed .op.post, .popup-post, .popup-message, header, footer, .pagination, table, .dropdown-menu li ul {
  background: black url('https://i.imgur.com/EUiVzMr.jpg') no-repeat fixed center;
  background-size: cover;
}
#board-list-full, .block, hr, img, .reply.post, .feed .op.post, .popup-post, .popup-message, header, footer, .pagination, table {
  box-shadow: 0px 0px 4px rgb(0,0,0);
}

/* home page */

#board-list-full .board-category {
  display: none;
}
#board-list-full .title {
  background: rgba(255,255,255,0.3);
  margin-left: -2px !important;
}
#board-list-full, .block {
  border: 1px solid black;
}
.block > .title {
  background: rgba(255,255,255,0.3);
  font-weight: bold;
}
.news > .title {
  text-align: left !important;
}
hr {
  height: 1px;
  border: none;
  background: black;
}

/* board */

header {
  padding: 2px 0px;
  border-bottom: 1px solid black;
}
.banner {
  margin-top: 15px !important;
}
#board-summary, #board-subtitle {
  display: none;
}
.spoiler {
  background: black;
  transition: 0.3s;
}
.spoiler:hover {
  color: white;
}
.quote, .symbol-counter {
  color: rgb(40,40,40) !important;
}
.attachment-thumb img, .atttachment-thumb video {
  box-shadow: 0px 0px 4px rgb(0,0,0);
}
.attachment-thumb img:hover,.attachment-thumb video:hover {
	box-shadow: 0px 0px 4px rgb(255,255,255);
  border: 1px solid white;
}
.thread {
  padding: 5px 0px;
}
.reply.post, .feed .op.post, .popup-post {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}
.reply.post.highlighted, .feed .post.highlighted {
  box-shadow: 0px 0px 4px rgb(255,255,255);
  border-color: white;
  transition: 0.3s;
}
.message a {
  text-shadow: 0px 0px 3px rgb(150,150,150);
}
.popup-message {
  margin-top: 20px !important;
  border: 1px solid black;
}
.reply-title {
  font-size: 11pt;
  font-weight: bold;
}
.reflink {
  font-size: 10pt;
  font-weight: bold;
}
.index-number {
  font: bold 11px tahoma !important;
  color: black;
}
.file-info, .file-name {
  font-size: 8pt;
}
.dropdown-menu li ul {
  padding: 2px;
}
#delete-container {
  margin: 15px 0px !important;
}
.pagination {
  border-right: 1px solid black;
  border-top: 1px solid black;
  padding: 3px;
}
footer {
  text-align: center;
  font-size: 9pt;
  padding-top: 2px;
  margin-top: 5px;
  border-top: 1px solid black;
}

/* settings page */

table {
  margin: 5px 0px !important;
  border: 1px solid black;
}
#message {
  font-size: 20pt;
}
