/* home page */

#board-list-full, #latest-news {
  background: #546471;
  border: 1px solid #37414a;
}
#board-list-full .title {
  background: #37414a;
  margin-left: -2px !important;
}
.board-category {
  display: none;
}
hr {
  background: #37414a;
  border: none !important;
  height: 1px
}
#latest-news > .title {
  background: #37414a;
  font-weight: bold;
}
.news > .title {
  text-align: left !important;
}

/* board */

html, body {
  background-color: #6e7c87;
  color: white;
  font-family: Calibri;
  font-size: 10.5pt;
}
a, .fa {
  color: white;
}
a:hover, .fa:hover {
  color: #343855;
}
pre {
  background-color: #2c2c2c;
  padding: 10px;
}
header {
  border: none !important;
  background: #546471;
  padding: 3px 0px;
}
.banner {
  margin-top: 15px !important;
}
#board-header {
  color: #c8cdd5;
  font-weight: 700;
  border-bottom: 3px solid #6e7c87;
  border-image: url('/static/img/heon.png') 3;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
#board-header .fa {
  color: #c8cdd5;
}
#board-header .fa:hover {
  color: #343855;
}
#board-summary, #board-subtitle {
  display: none;
}
textarea, input, select {
  border: 2px solid #545454;
  border-radius: 5px;
  background-color: #37414a;
  color: white;
  font-family: Calibri;
  font-size: inherit;
  margin: 1px;
}
.quick-post-form {
  padding: 2px;
}
.spoiler, .spoiler a {
  color: #212121;
  background-color: #212121;
}
.spoiler:hover, .spoiler a:hover {
  color: #48b0fd;
  background-color: #212121;
}
.quote, .symbol-counter {
  color: #81b1ff !important;
}
.thread {
  border-top: 3px solid #6e7c87;
  border-image: url('/static/img/heon.png') 3;
  margin: 5px;
  padding: 10px 0px;
}
.reply.post, .feed .post, .popup-post {
    background-color: #546471;
    margin: 3px;
    padding: 5px;
}
.reply.post.highlighted, .feed .post.highlighted {
    background-color: #43505a;
}
.op.post.highlighted {
    background-color: #546471;
}
.popup-post {
    border: 1px solid #808080;
}
.popup-message {
    background-color: #546471;
    color: white;
    margin-top: 15px !important;
}
.reply-title {
  color: #28344a;
  font-size: 13pt;
  font-weight: bold;
}
.reflink {
  font-size: 85%;
  font-weight: bold;
}
.index-number {
  font: bold 11px tahoma !important;
  color: #4F7942;
}
.file-info, .file-name {
  font-size: 8pt;
}
.reply.post .dropdown-menu li ul {
  background-color: #546471;
  padding: 2px;
}
.op.post .dropdown-menu li ul {
  background: #6e7c87;
  padding: 2px;
}
#delete-container {
  text-align: right;
  border-top: 3px solid #6e7c87;
  border-image: url('/static/img/heon.png') 3;
  padding: 10px 0px;
}
.pagination {
  background: #546471;
  padding: 3px;
}
.pagination .next {
  border-left: 1px solid white;
  padding-left: 5px;
}
.pagination .previous {
  border-right: 1px solid white;
  padding-right: 5px;
}
footer {
  font-size: 12px;
  text-align: center;
}

/* settings page */

#message {
  font-size: 2em;
  border: none !important;
}

/* h's on feed, home, help, settings and login pages */

h1, h2{
  color: #c8cdd5;
  font-size: 18pt;
  font-weight: bold;
  margin: 10px 0px;
}
h2 .fa, h2 a {
  color: #c8cdd5;
}
#main-title h1 {
  color: white;
  font-size: 22pt;
}
