/* home page */

#board-list-full {
  background: #00796b;
}
#board-list-full .title {
  background: #00695c;
  margin-left: -2px !important;
}
.board-category {
  display: none;
}
.block {
  background: #00796b;
}
.block > .title {
  background: #00695c;
  font-weight: bold;
}
.news > .title {
  text-align: left !important;
}
hr {
  display: none;
}

/* board */

html, body {
  background-color: #009688;
  color: #e0f2f1;
  font-family: Century Gothic,sans-serif;
  font-size: 10pt;
  padding: 10px;
}
header {
  border: none !important;
  background-color: #00796b;
  padding: 1px 0px;
}
#board-summary, #board-subtitle {
  display: none;
}
textarea, input, select {
  border: none;
  background-color: #00796b;
  color: #e0f2f1;
  font-family: Century Gothic,sans-serif;
  font-size: small;
}
.quick-post-form {
  padding: 2px;
}
a, .fa {
  color: #e0f2f1;
}
a:hover, .fa:hover {
  color: #1de9b6;
}
pre {
  background-color: #00695c;
  padding: 10px;
}
.quote, .symbol-counter {
  color: #aeea00 !important;
}
.spoiler, .spoiler a {
  color: #00695c;
  background-color: #00695c;
}
.spoiler:hover{
  color: #e0f2f1;
  background-color: transparent;
}
.spoiler a:hover {
  color: #1de9b6;
  background: transparent;
}
.thread {
  padding: 10px 0px;
}
.reply.post, .feed .post, .popup-post {
  background: #00796b;
  margin: 3px;
  padding: 5px;
}
.popup-message {
  background: #00796b;
  margin-top: 10px !important;
}
.reply.post.highlighted, .feed .post.highlighted {
  background-color: #00695c;
}
.op.post.highlighted {
  background-color: #00796b;
}
.reply-title {
  color: #18ffff;
  font-weight: bold;
}
.reflink{
  font-size: 8pt;
  font-weight: bold;
}
.time {
  font-size: 0.8em;
}
.index-number {
  font: bold 11px tahoma !important;
  color: #18ffff;
}
.file-name, .file-info {
  font-size: 8pt;
}
.reply.post .dropdown-menu li ul {
  background: #00796b;
}
.op.post .dropdown-menu li ul {
  background: #009688;
}
#delete-container {
  text-align: right;
}
footer {
  font-size: 12px;
  text-align: center;
}

/* settings page */

#message {
  font-size: 20pt;
}

/* h's on feed, home, help, settings and login pages */

h1, h2 {
  font-size: 18pt;
  font-weight: bold;
  margin: 10px 0px;
}
