/* global */

html, body {
  background: #211F1A url('https://i.imgur.com/FrGvfIm.jpg') scroll repeat;
  font-family: Verdana, sans-serif;
  font-size: 10.5pt;
  color: #9B8165;
}
textarea, input, select {
  background: #3E3C38 url('https://i.imgur.com/Svj03Ut.png');
  color: #FEC77D;
  border: 1px solid #44453D;
  border-radius: 5px;
  margin: 1px;
}
input[type="submit"] {
  background-color: #333333 !important;
  background: linear-gradient(to top, #4A4A4A, #292929, #4A4A4A);
  border-radius: 5px;
  border-bottom: 1px solid #151515;
  border-top: 1px solid #151515;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  color: #AAAAAA;
  font-weight: bold;
}
input[type="submit"]:hover {
  background: linear-gradient(to top, #151515, #505050, #151515);
  border:1px solid #9B8165 !important;
	color:#FFFFCC !important;
	box-shadow: inset 0 0 4px 1px #9B8165;
}
a, .fa {
  color: #FFD97A;
  transition: 0.3s;
}
a:hover, .fa:hover, .spoiler:hover a {
  color:#FCE236 !important;
	text-shadow:#FCE236 0px 0px 10px;
}
.quote, .symbol-counter {
  color: #C1B387 !important;
}
.spoiler, .spoiler a {
  background: #454545;
	color: #454545;
	opacity: 0.5;
}
.spoiler:hover {
  color:#AEAEAE;
	opacity:1
}

/* home */

#board-list-full {
  background: #292825 url('https://i.imgur.com/F2AZvqs.jpg');
  border: 1px solid #34352D;
  border-radius: 5px;
}
#board-list-full .board-category {
  display: none;
}
#board-list-full > .title {
  color: #ECCA74;
}
#latest-news {
  background: #292825 url('https://i.imgur.com/F2AZvqs.jpg');
  border: 1px solid #34352D;
  border-radius: 5px;
}
#latest-news > .title {
  font-weight: bold;
  color: #ECCA74
}
.news > .title{
  text-align: left !important;
}
hr {
  display: none;
}

/* board */

header {
  background: #292825 url('https://i.imgur.com/F2AZvqs.jpg');
  padding: 3px 0px;
}
.banner {
  margin-top: 10px !important;
}
#board-header, #board-summary, #board-subtitle {
  color: #ECCA74;
  font-weight: bold;
}
.thread {
  padding: 5px 0px
}
.reply.post, .popup-post, .feed.post {
  background: #292825 url('https://i.imgur.com/F2AZvqs.jpg');
  border: 1px solid #34352D;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.reply.post.highlighted, .feed .post.highlighted {
  box-shadow:#FCE236 0px 0px 5px;
  transition: 0.3s;
}
.reply.post .message, .popup-post .message, .feed.post .message {
  color: #C6985C;
}
.reply-title {
  color: #FFC17B;
  font-size: 13pt;
  font-weight: bold;
}
.reflink {
  font-size: 10pt;
  font-weight: bold;
}
.file-info, .file-name {
  font-size: 7pt;
}
.index-number {
  font: bold 12px tahoma !important;
  color: #4F7942;
}
.reply.post .dropdown-menu li ul {
  background: #292825 url('https://i.imgur.com/F2AZvqs.jpg');
  border-radius: 5px;
  padding: 2px;
}
.op.post .dropdown-menu li ul {
  background: #211F1A url('https://i.imgur.com/FrGvfIm.jpg');
  border-radius: 5px;
  padding: 2px;
}
.quick-post-form {
  padding: 3px;
}
#delete-container {
  text-align: right;
}
.pagination {
  background: #292825 url('https://i.imgur.com/F2AZvqs.jpg');
  padding: 3px;
  border-radius: 0px 5px 0px 0px;
}
footer {
  text-align: center;
  font-size: 9pt;
}

/* h's on feed, home, help, settings and login pages */

h1, h2{
  color: #ECCA74;
  font-size: 18pt;
  font-weight: bold;
  margin: 10px 0px;
}
h2 .fa, h2 a {
  color: #ECCA74;
}
#main-title h1 {
  color: #ECCA74;
  font-size: 22pt;
}

/* settings */

#message {
  font-size: 20pt;
}
table {
  background: #292825 url('https://i.imgur.com/F2AZvqs.jpg');
  border: 1px solid #34352D;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0px;
}
