/* home page */

#board-list-full {
    border: 2px dashed #0cd264;
    margin-bottom: 15px;
}
#board-list-full .title {
    background-color: #001400;
    margin-left: -2px !important;
}
.board-category {
    display: none;
}
#latest-news {
    border: 2px dashed #0cd264;
}
#latest-news > .title {
    background: #001400;
}
.news > .title {
    text-align: left !important;
}
hr {
    border-top: 2px dashed #0cd264;
    border-bottom: none;
}

/* board */

html, body {
    background-color: #020902;
    color: #0cd264;
    font-family: Courier New,Lucida Console;
    font-size: 10pt;
}
.file, div.multi-file, div.attachment-thumb, img.video-thumb, .banner, #board-summary, #board-subtitle {
    display: none;
}
header {
    border: none !important;
    background-color: #0cd264;
    color: #020902;
    padding: 2px 0px;
}
header a, header .fa {
    color: #020902;
}
#board-header {
    font-family: FixedSys;
    font-size: 24pt;
    margin-top: 10px;
}
#show-plain-form {
    padding: 2px 0px 10px 0px;
}
textarea, input, select {
    background-color: #001400;
    border: 2px solid #0cd264;
    border-radius: 5px;
    color: #0cd264;
    margin: 1px;
}
.quick-post-form {
    padding: 2px;
}
a, .fa {
    color: #0cd264;
}
a:hover, .fa:hover {
    color: #208448;
}
pre {
    background-color: #002800;
    border: 2px dashed #0cd264;
    padding: 10px;
}
.quote, .symbol-counter {
    color: #098440 !important;
}
.spoiler {
    background-color: #0cd264;
    color: #0cd264;
}
.spoiler:hover {
    background-color: transparent;
    color: #0cd264;
}
.thread {
    padding: 10px 0;
    border-top: 1px solid #0cd264;
}
.reply.post, .feed .post, .popup-post {
    background-color: #001400;
    border: 1px solid #0cd264;
    margin: 3px;
    padding: 5px;
}
.popup-message {
    background-color: #001400;
    border: 1px solid #0cd264;
    margin-top: 15px !important;
}
.reply.post.highlighted, .feed .post.highlighted {
    background-color: #002800;
}
.op.post.highlighted {
    background-color: #001400;
}
.reply-title {
    font-weight: bold;
}
.index-number {
    font-size: 10pt !important;
    font-weight: bold;
    color: #020902;
    background: #0cd264;
}
#delete-container {
    text-align: right;
    border-top: 1px solid #0cd264;
    border-bottom: 1px solid #0cd264;
    margin-top: 10px;
    padding: 10px 0px;
}
.pagination {
    background: #0cd264;
    color: #020902;
    padding: 2px;
}
.pagination .previous {
    border-right: 1px solid #020902;
    padding-right: 5px;
}
.pagination .next {
    border-left: 1px solid #020902;
    padding-left: 5px;
}
.pagination a {
    color: #020902;
}
footer {
    text-align: center;
    font-size: 9pt;
}

/* history message page */

.hist-msg {
    background-color: #001400;
    border: 1px solid #0cd264;
}

/* h's on feed, home, help, settings and login pages */

h1, h2 {
    font-family: FixedSys;
    font-size: 18pt;
}

/* settings page */

#message {
    color: #0cd264;
    font-family: FixedSys;
    font-size: 20pt;
    border: 2px dashed #0cd264;
}
