/* С наступающим. */

/* global style */

html, body {
  background: #fcfcfc url('http://24.media.tumblr.com/tumblr_mef299uPsQ1r7y61oo1_400.gif') repeat fixed center;
  color: #333;
  font-family: Calibri;
  font-size: 10.5pt;
}
a, .fa {
  color: #333;
}
.post .message a {
  text-shadow: 0 0 1px #333;
}
a:hover, .fa:hover {
  color: #999;
}
.post .message a:hover {
  text-shadow: 0 0 1px #999;
}
pre {
  background: rgba(30,30,30,0.25);
  border: 1px solid rgba(10,10,10,0.25);
  padding: 10px;
}
footer {
  text-align: center;
  font-size: 10pt;
}

/* home page */

#home-container .block {
  background: rgba(250,250,250,0.75);
  border: 1px solid rgba(230,230,230,0.75);
}
#board-list-full .title {
  margin-left: -2px !important;
}
.block > .title {
  font-weight: bold;
  background: rgba(230,230,230,0.25);
}
.news .title {
  text-align: left !important;
}
hr {
  border: none !important;
  height: 1px;
  background: rgba(230,230,230,0.75);
}

/* board */

header {
  border: none !important;
  background: rgba(250,250,250,0.75);
}
textarea, input, select {
  background: rgba(250,250,250,0.75);
  border: 1px solid rgba(230,230,230,0.75);
  color: #333;
  margin: 1px;
  font-family: Calibri;
}
textarea {
  font-size: 10.5pt;
}
.spoiler, .spoiler a {
  background: rgba(230,230,230,0.75);
  color: rgba(230,230,230,0.75);
  text-shadow: none !important;
}
.spoiler:hover {
  background: none;
  color: #333;
}
.spoiler a:hover {
  background: none;
  color: #999;
  text-shadow: 0 0 1px #999 !important;
}
.quote, .symbol-counter {
  color: #81b1ff !important;
}
.quick-post-form {
  padding: 2px;
}
.reply.post, .feed .post, .popup-post {
  background: rgb(250,250,250) url('http://24.media.tumblr.com/tumblr_mef299uPsQ1r7y61oo1_400.gif') repeat fixed center;
  border: 1px solid rgba(230,230,230,0.75);
  margin: 3px;
  padding: 5px;
}
.reply.post.highlighted, .feed .post.highlighted {
  background: rgba(0,0,250,0.01);
  border: 1px solid rgba(0,0,230,0.25);
}
.op.post.highlighted {
  background: rgba(0,0,250,0.01);
}
.popup-message {
  background: rgba(250,250,250,0.75);
  border: 1px solid rgba(230,230,230,0.75);
  margin-top: 15px !important;
}
.reply-title {
  font-size: 12pt;
  font-weight: bold;
}
.reflink {
  font-size: 85%;
  font-weight: bold;
}
.index-number {
  font: bold 11px tahoma !important;
  color: #81b1ff;
}
.file-info, .file-name {
  font-size: 8pt;
}
.reply.post .dropdown-menu li ul {
  background-color: rgba(250,250,250,0.25);
  padding: 2px;
}
.op.post .dropdown-menu li ul {
  background: rgba(250,250,250,0.25);
  padding: 2px;
}
#delete-container {
  text-align: right;
  padding: 10px 0px;
}
.pagination {
  background: rgb(250,250,250) url('http://24.media.tumblr.com/tumblr_mef299uPsQ1r7y61oo1_400.gif') repeat fixed center;
  border: 1px solid rgba(230,230,230,0.75);
  padding: 3px;
}
.pagination .next {
  border-left: 1px solid rgba(230,230,230,0.75);
  padding-left: 5px;
}
.pagination .previous {
  border-right: 1px solid rgba(230,230,230,0.75);
  padding-right: 5px;
}
