/* home page */

#home-content hr {
    display: none;
}
#board-list-full {
    border: 1px solid;
}
#board-list-full .title {
    background: #b7c5d9;
    font-size: 15px;
    margin-left: -2px;
}
#board-list-full .board-category {
    display: none;
}
#latest-news {
    border: 1px solid;
}
#latest-news > .title {
    background: #b7c5d9;
    font-weight: bold;
    font-size: 15px;
}
#latest-news hr {
    height: 1px;
    border: none;
    background: #000000;
}
.news > .title {
    text-align: left;
}

/* board */

html, body {
    background: #eef2ff url('/static/img/yotsubablue.png') top center repeat-x;
    color: #000000;
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
}
a {
    color: #34345c;
}
a:hover {
    color: #ee0000;
}
.fa {
    color: #34345c;
}
pre {
    background: #9da6db;
    padding: 5px;
}
header {
    background: #eef2ff url('/static/img/yotsubablue.png') top center repeat-x;
    padding: 1px 0;
    border: none !important;
}
.banner {
    margin-top: 10px;
}
#board-header {
    font-family: Tahoma,sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
    color: #af0a0f;
}
#board-header .fa {
    color: #af0a0f;
}
#board-summary, #board-subtitle {
    display: none;
}
textarea, input, select {
    border: 1px solid #aaaaaa;
    margin: 1px;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
}
#show-plain-form {
    margin: 4px 0 10px 0;
}
.reply.post, .feed .post {
    background: #d6daf0;
    padding: 5px;
    margin: 3px;
    border-width: medium 1px 1px medium;
    border-style: none solid solid none;
    border-color: #b7c5d9;
}
.reply.post.highlighted, .feed .post.highlighted {
    background: #b9c0e5;
}
.op.post.highlighted {
    background: #d6daf0;
}
.popup-post {
    background: #d6daf0;
    margin: 3px;
    padding: 5px;
    border-width: 1px 2px 2px 1px;
    border-style: solid;
    border-color: #b7c5d9;
}
.popup-message {
    background: #d6daf0;
    margin-top: 10px !important;
    border: 1px solid #b7c5d9;
}
.reply-title {
    color: #0f0c5d;
    font-weight: bold;
}
.poster-name {
    color: #117743;
}
.file-name {
    font-size: 9px;
}
.thread {
    border-top: 1px solid #b7c5d9;
    padding: 10px 0;
}
.quick-post-form {
    margin: 2px;
}
.hist-msg {
    background: #d6daf0;
    border-width: medium 1px 1px medium;
    border-style: none solid solid none;
    border-color: #b7c5d9;
}
#delete-container {
    border-top: 1px solid #b7c5d9;
    text-align: right;
    padding-top: 10px;
    margin-top: 10px;
}
footer {
    text-align: center;
    font-size: 10px;
    height: 25px;
}
.pagination {
    background: #d6daf0;
    padding: 2px;
    border-width: 1px 1px medium medium;
    border-style: solid solid none none;
    border-color: #b7c5d9;
}
a.next {
    border-left: 1px solid #b7c5d9;
    padding-left: 5px;
}
a.previous {
    border-right: 1px solid #b7c5d9;
    padding-right: 5px;
}
.quote {
    color: #789922 !important;
}
.symbol-counter {
    color: #789922 !important;
}
.spoiler {
    color: #000000 !important;
    background: #000000 !important;
}
.spoiler:hover {
    color: #ffffff !important;
    background: #000000 !important;
}
.spoiler a {
    color: #000000 !important;
}
.spoiler a:hover {
    color: #ffffff !important;
}
.dropdown-menu li ul {
    background: #d6daf0;
    padding: 2px;
}

/* settings page */

#message {
    font-size: 28px;
    letter-spacing: -2px;
    color: #ee0000;
}

/* h's on feed, home, help, settings and login pages */

h1, h2 {
    font-family: Tahoma,sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 10px 0 !important;
    color: #af0a0f;
}
h2 .fa {
    color: #af0a0f;
}
