upload.pl
.cabal-sandbox
cabal.sandbox.config
*.7z
dist*
cabal-dev/*
static/tmp/
static/combined/
static/files/*
!static/files/.keep
static/captcha/*
!static/captcha/.keep
static/thumb/*
!static/thumb/.keep
config/client_session_key.aes
*.hi
*.o
*.sqlite3
.hsenv*
.ghci
yesod-devel/
