[Unit]
Description=Monaba
After=local-fs.target network.target postgresql.service
    
[Service]
WorkingDirectory=/your/path/to/Monaba/
ExecStart=/your/path/to/Monaba/dist/build/Monaba/Monaba config/settings.yml
    
[Install]
WantedBy=multi-user.target
