html, body {
    background-color: #E0E0E0;
    color: #333333;
}

a {
    color: #995b46;
    padding: 0px;
}

a:hover {
    color: #FF6600;
}

footer {
    font-family: serif;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid rgba(10, 10, 10, 0.3);
    padding-top: 10px;
}

/* *************************************** */
/* *************** Forms ***************** */
/* *************************************** */
.show-plain-form {
    border-top: 1px solid rgba(10, 10, 10, 0.3);
    border-bottom: 1px solid rgba(10, 10, 10, 0.3);
    padding: 1em;
}

#post-form input, #post-form label, #post-form textarea, #post-form .file-select, #post-form .dropdown {
    margin-bottom: 3px !important;
}

fieldset {
    border: 1px solid black;
}

fieldset legend {
    padding: 3px;
    background-color: #E0E0E0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    background-color: #DDDDDD;
    color: #333333;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
    background-color: #DFDFDF;
    color: #333333;
}

.rules {
    font-size: 0.7em;
}
/* *************************************** */
[class^="icon-"], [class*=" icon-"] {
    background-image: url("/static/img/glyphicons-black.png");
}
/* *************************************** */
/* *********** Post and threads ********** */
/* *************************************** */
.reply, .post-list .opening {
    background: none repeat scroll 0% 0% #CFCFCF;
    border-radius: 3px;
    border: 1px solid #EEEEEE;
    padding: 5px;
}

.popup {
    background: none repeat scroll 0% 0% #CFCFCF;
    border-radius: 3px;
    border: 1px solid #EEEEEE;
    padding: 5px;
}

.highlighted {
    background: none repeat scroll 0% 0% #EEDACB;
    border-radius: 3px;
    border: 2px dashed #EE6600;
}

.thread {
    border-bottom: 1px solid rgba(10, 10, 10, 0.3);
    padding: 25px 2px;
}

.post-list .hidden-thread {
    background: none repeat scroll 0% 0% #CFCFCF;
    border-radius: 3px;
    border: 1px solid #EEEEEE;
    padding: 5px;
}

/* Header */
.file-name {
    font-size: 0.8em;
}

.time {
    font-size: 0.8em;
    color: #666666;
}
/* Message */
.spoiler, .spoiler a {
    background:#C0C0C0;
    color:transparent;
    transition:all 0.2s ease;
    box-shadow: 1px 1px 0px #999;
}

.spoiler:hover, .spoiler a:hover, .quote .spoiler:hover {
    background: none;
    box-shadow: none;
    color:#333333;
}

.spoiler a:hover {
    color:#FF6600;
}

.quote, .quote .spoiler:hover {
    color: #008000;
}

.last-modified {
    font-size: 0.7em;
}
/* Files */
.file-info {
    display: none;
}
/* *************************************** */
/* **************** Admin **************** */
/* *************************************** */
.admin-navbar {
    border-right: 1px solid rgba(10, 10, 10, 0.3);
}
.admin-navbar li:hover {
    background-color: #CFCFCF;
}

/* *************************************** */
/* *********** Popup alerts ************** */
/* *************************************** */
.popup-alert {
    background: none repeat scroll 0% 0% #CFCFCF;
    border-radius: 3px;
    border: 1px solid black;
}
/* *************************************** */
/* ************ Home page **************** */
/* *************************************** */
.board-category {
    font-weight: bold;
    background: none repeat scroll 0% 0% #CFCFCF;
}
/* *************************************** */
/* ************ Edit history ************* */
/* *************************************** */
.history-entry {
    background: none repeat scroll 0% 0% #CFCFCF;
    border-radius: 3px;
    border: 1px solid #EEEEEE;
    padding: 5px;
    margin-bottom: 5px;
}

.history-date {
    background-color: #CFCFCF;
    border-bottom: 1px solid rgba(10, 10, 10, 0.3);
    padding: 3px;
}
