html, body {
    background-color: #FFFFEE;
    color: #600000;
    font-family: serif;
    font-size: 1em;
    padding: 10px;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("/static/img/glyphicons-black.png");
}

form {
    font-size: 0.9em;
}

textarea {
    /* background-color: #FFFFFF; */
}

input {
    /* background-color: #FFFFFF; */
}

.poster-name {
    color: #117743;
}

.post-block-named {
    background-color: #EEAA88;
    font-weight: bold;
    padding: 5px;
}

a {
    color: #0000EE;
    padding: 0px;
}

a:hover {
    color: #DD0000;
}

.spoiler, .spoiler a {
    background:#E1D1C7;
    color:transparent;
    transition:all 0.2s ease;
    box-shadow: 1px 1px 0px #B1A29D;
}

.spoiler:hover, .spoiler a:hover, .quote .spoiler:hover {
    background: none;
    box-shadow: none;
    color:#600000;
}

.spoiler a:hover {
    color:#DD0000;
}

.quote, .quote .spoiler:hover {
    color: #008000;
}

#button-quote:hover {
    color: #206620;
}

header {
    border-bottom: 1px solid rgba(50,50,50,0.5);
}

footer {
    font-family: serif;
    font-size: 12px;
    margin: 2em 0pt 0pt;
    text-align: center;
    border-top: 1px solid rgba(50,50,50,0.5);
    padding-top: 10px;
}

.reflink {
    font-size: 85%;
    font-weight: bold;
}

.file-info {
    color: #666666;
    font-size: 0.8em;
    text-decoration: none;
}

.file-name {
    font-size: 0.8em;
}

.reply-post, #post-list .op-post {
    display: table;
    background: none repeat scroll 0% 0% #F0E0D6;
    border: 1px solid #DDCCC5;
    margin: 4px;
    padding: 5px;
}

.popup-post {
    background: none repeat scroll 0% 0% #F0E0D6;
    border: 1px solid #DDCCC5;
    margin: 4px;
    padding: 5px;
}

.highlighted-post {
    background: none repeat scroll 0% 0% #EEDACB;
    border: 2px dashed #EE6600;
    margin: 4px;
    padding: 5px;
}

.thread {
    margin: 2px;
    border-top: 1px solid rgba(50,50,50,0.5);
    padding: 25px 2px;
}

.reply-title {
    color: #002244;
    font-size: 1em;
    font-weight: bold;
}

hr {
    border-style: solid none #BBBBBB;
    border-width: 1px;
}

table {
    border-style: none;
}

table td {
    border-style: none;
}

#delete-container {
    text-align: right;
}

pre {
    background-color: #EEEEEE;
    border: 1px dashed #DFDFDF;
    padding: 10px;
}

.board-category {
    font-weight: bold;
    background: none repeat scroll 0% 0% #EEAA88;
}

#board-list-full {
   border: 1px solid #EEAA88;
}

#latest-news {
   border: 1px solid #EEAA88;
}

#news-title {
    font-weight: bold;
    background: none repeat scroll 0% 0% #EEAA88;
}

.popupMessage {
    background: none repeat scroll 0% 0% #F0E0D6;
    border: 1px solid #DDCCC5;
}

.quick-post-form {
    background: none repeat scroll 0% 0% #F0E0D6;
    border: 1px solid #DDCCC5;
    padding: 5px;
}

.hist-msg {
    backg1round: none repeat scroll 0% 0% #F0E0D6;
    border: 1px solid #DDCCC5;
    margin: 4px;
    padding: 5px;
}

.admin-navbar {
    border-top: 1px solid rgba(50,50,50,0.5);
    margin-bottom: 10px;
    padding: 3px;
    background-color: #F0E0D6;
}

#delete-container {
    border-top: 1px solid rgba(50,50,50,0.5);
    padding-top: 10px;
}

.show-plain-form {
    margin-bottom: 10px;
}

.markup-wrapper {
    background-color: #F0E0D6;
}

.expand-post {
    color: #666666;
}

.reply-title {
    color: #CC1105;
    font-size: 1.1em;
    font-weight: bold;
}

#pages-list {
    border: 1px solid grey;
    padding: 0 3px;
}

#thread-header {
    background-color: #EEAA88;
    padding: 2px;
}
