html, body {
    background-color: black;;
    color: #7C7C7C;
    font-family: serif;
    font-size: 1em;
    padding: 10px;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("/static/img/glyphicons-white.png");
    opacity: 0.5;
}

footer {
}

form {
    font-size: 0.9em;
}

textarea, input, select {
    border-top: 1px solid rgba(100, 100, 100, 0.5);
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
    border-right: 0;
    border-left: 0;
    background-color: black;
    color: #7C7C7C;
}

input[type=submit]:hover {
    background-color: #191919;
}

input[type=submit] {
    border: 1px solid rgba(100, 100, 100, 0.5);
}

.time {
    font-size: 0.8em;
    color: #555555;
}

a {
    color: #964509;
    padding: 0px;
}

a:hover {
    color: #742307;
}

header {
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);    
}

footer {
    font-family: serif;
    font-size: 12px;
    margin: 2em 0pt 0pt;
    text-align: center;
    border-top: 1px solid rgba(100, 100, 100, 0.3);
    padding-top: 10px;
}

.reflink {
    font-size: 85%;
    font-weight: bold;
}

.file-info {
    color: #666666;
    font-size: 0.8em;
    text-decoration: none;
}

.file-name {
    font-size: 0.8em;
}

.reply-post {
    display: table;
    background: none repeat scroll 0% 0% #050505;
    border: 1px solid #383838;
    margin: 3px;
    padding: 5px;
}

.popup-post {
    background: none repeat scroll 0% 0% #050505;
    border: 1px solid #383838;
    margin: 3px;
    padding: 5px;
}

.highlighted-post {
    display: table;
    background: none repeat scroll 0% 0% #050505;
    border: 1px solid white;
    margin: 3px;
    padding: 5px;
}

.thread {
    margin: 2px;
    border-top: 1px solid rgba(100, 100, 100, 0.3);
    padding: 25px 2px;
}

.reply-title {
    color: #005566;
    font-size: 1em;
    font-weight: bold;
}

hr {
    border-color: #505050;
    border-style: solid none none;
    border-width: 1px;
}

table {
    border-style: none;
}

table td {
    border-style: none;
}

#delete-container {
    text-align: right;
}

pre {
    background-color: black;
    border: 1px dashed #DFDFDF;
    padding: 10px;
}

.board-category {
    font-weight: bold;
    background: none repeat scroll 0% 0% #202020;
}

#board-list-full {
   border: 1px dotted rgba(50,50,50,0.5);
}

#latest-news {
   border: 1px dotted rgba(50,50,50,0.5);
}

#news-title {
    font-weight: bold;
    background: none repeat scroll 0% 0% #202020;
}

.popupMessage {
    background: none repeat scroll 0% 0% #050505;
    border: 1px solid #707070;
}

.quick-post-form {
    background: none repeat scroll 0% 0% #050505;
    border: 1px solid #383838;
    padding: 5px;
}

.hist-msg {
    background: none repeat scroll 0% 0% #050505;
    border: 1px solid #383838;
    margin: 3px;
    padding: 5px;
}

#board-header {
    color: #800000;
}

#board-long-desc {
   color: #800000;
}

#board-subtitle {
    color: #800000;
}

.admin-navbar {
    background-color: #050505;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    padding: 3px;
    margin-bottom: 10px;
}

#delete-container {
    border-top: 1px solid rgba(100, 100, 100, 0.3);
    padding-top: 10px;
}

.show-plain-form {
    margin-bottom: 10px;
}

.expand-post {
    color: #666666;
}

.quote {
    color: #105510 !important;
}

#next-page {
    border-right: 1px solid rgba(100, 100, 100, 0.7);
    padding-right: 5px;
}

#prev-page {
    border-left: 1px solid rgba(100, 100, 100, 0.7);
    padding-left: 5px;
}

#thread-header {
    background-color: #050505;
    padding: 2px;
}

.file-info {
    display:none;
}

#main-image {
    opacity: 0.4;
}

#message {
    color: red !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 2px dashed rgba(100, 100, 100, 0.7) !important;
    border-top: 2px dashed rgba(100, 100, 100, 0.7) !important;
}
