html, body {
    background-color: #5F5F5F;
    color: #333333;
    font-family: serif;
    font-size: 1em;
    padding: 10px;
}

a {
    color: #890000 !important;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 70%;
    margin: auto 15%;
}

#main {
    background-color: #BFBFBF;
    color: #333333 !important;
    padding: 5px 5px 25px 5px;
    margin-top: 15px;
    box-shadow: -1px -1px 8px 0 rgba(0,0,0.2),
                1px 1px 8px 0 rgba(0,0,0,0.2),
                0px 0px 0px 0 black,
                0px 0px 0px 0 black,
                0px 0px 0px 0 black;
}

.board-list, footer, #control-panel {
    color: #AAAAAA;
}

.board-list a, footer a, #control-panel a {
    color: white !important;
}

footer {
    border-top: 0px !important;
}

form {
    font-size: 0.9em;
}

textarea {
    background-color: #DDDDDD;;
    border: 1px dotted rgba(0,0,0,0);
    width: 500px !important;
}

textarea:focus {
    border: 1px solid rgba(0,0,0,0.5);
}

input[type=submit] {
    border: 1px solid black;
}

input[type=button] {
    border: 1px solid black;
}

select {
    border: 0px;
}

input:focus {
    border: 1px solid rgba(0,0,0,0.5);
}

input {
    background-color: #DDDDDD;;
    border: 1px dotted rgba(0,0,0,0);
}

.time {
    font-size: 0.8em;
    color: #666666;
}

header {
    clear: both;
    color: #995b46;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

footer {
    font-family: serif;
    font-size: 12px;
    margin: 2em 0pt 0pt;
    text-align: center;
    border-top: 1px dotted rgba(10, 10, 10, 0.3);
    padding-top: 10px;
}

.reflink {
    font-size: 85%;
    font-weight: bold;
}

.file-info {
    color: #666666;
    font-size: 0.8em;
    text-decoration: none;
}

.file-name {
    font-size: 0.8em;
}

.op-post {
    display: inline-block;
    width: 98%;
    margin: 3px;
    padding: 5px;
    background: none repeat scroll 0% 0% #CACACA !important;
    border: 1px dotted rgba(0,0,0,0.5) !important;
    border-radius: 0px !important;
}

.reply-post {
    display: inline-block;
    width: 98%;
    background: none repeat scroll 0% 0% #CACACA;
    border: 1px dotted rgba(0,0,0,0.5);
    margin: 5px;
    padding: 5px;
}

.popup-post {
    background: none repeat scroll 0% 0% #CACACA;
    border: 1px dotted rgba(0,0,0,0.5);
    margin: 3px;
    padding: 5px;
}

.highlighted-post {
    background: none repeat scroll 0% 0% #EEDACB;
    border: 2px dashed #EE6600;
    margin: 3px;
    padding: 5px;
}

.thread {
    margin: 2px;
    border-top: 1px dotted rgba(10, 10, 10, 0.3);
    padding: 25px 2px;
}

.reply-title {
    color: #CC0000;
    font-size: 1em;
    font-weight: bold;
}

hr {
    border-color: #505050;
    border-style: dotted none none;
    border-width: 1px;
}

table {
    border-style: none;
}

table td {
    border-style: none;
}

#delete-container {
    text-align: right;
}

pre {
    background-color: rgba(0,0,0,0.1);
    border: 1px dashed black11;
    padding: 10px;
}

.board-category {
    font-weight: bold;
    background: none repeat scroll 0% 0% #E0E0E0;
}

#board-list-full {
   border: 1px dotted rgba(0,0,0,0.5);
   width: auto !important;
}

#home-container {
    margin-left: auto !important;
    margin-right: auto !important;
}

#latest-news {
   border: 1px dotted rgba(0,0,0,0.5);
}

#news-title {
    font-weight: bold;
    background: none repeat scroll 0% 0% #E0E0E0;
}

#popupMessage {
    background: none repeat scroll 0% 0% #E0E0E0;
    border: 1px dotted rgba(0,0,0,0.5);
}

#post-form {
    width: 100%;
    margin: 0;
}

#edit-form {
    background-color: #BFBFBF;
    padding-top: 2px;
}

.quick-post-form {
    border: 1px dotted rgba(0,0,0,0.5);
    padding: 5px;
    width: 95% !important;
}

.hist-msg {
    background: none repeat scroll 0% 0% #E0E0E0;
    border: 1px dotted rgba(0,0,0,0.5);
    margin: 3px;
    padding: 5px;
}

#board-header {
    padding-bottom: 20px;
    border-bottom: 1px dotted rgba(10, 10, 10, 0.3);
    color: #890000;
}

#board-long-desc {
   color: #CC0000;
}

#board-subtitle {
    color: #CC0000;
}

.admin-navbar {
    background-color: #E0E0E0;
    border-bottom: 1px dotted rgba(10, 10, 10, 0.3);
    padding: 3px;
    margin-bottom: 10px;
}

#delete-container {
    border-top: 1px dotted rgba(10, 10, 10, 0.3);
    padding-top: 10px;
}

.show-plain-form {
    margin-bottom: 10px;
}

.expand-post {
    color: #666666;
}

.quote {
    color: #557755 !important;
}

#next-page {
    border-right: 1px dotted rgba(10, 10, 10, 0.7);
    padding-right: 5px;
}

#prev-page {
    border-left: 1px dotted rgba(10, 10, 10, 0.7);
    padding-left: 5px;
}

#thread-header {
    background-color: #CACACA;
    padding: 2px;
}

#control-panel {
    position: absolute;
    top: 3px;
    right: 3px;
}

.board-list {
    position: absolute;
    top: 3px;
    left: 3px;
}

.op-post .last-modified {
    float: none !important;
}

.last-modified a {
    color: black !important;
}

.ip-and-id {
    display:block;
}

.file-info {
    display:none;
}
