html, body {
    background-color: #212121;
    color: #496CA0;
    font-family: serif;
    font-size: 1em;
    padding: 10px;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("/static/img/glyphicons-white.png");
    opacity: 0.6;
}

a {
    color: #927908;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto 10%;
    margin-bottom:15px;
}

#message {
    color: white !important;
}

#main {
    background-color: #2C2C2C;
    padding: 5px 5px 25px 5px;
    margin-top: 15px;
    box-shadow: -1px -1px 8px 0 rgba(0,0,0.2),
    1px 1px 8px 0 rgba(0,0,0,0.2),
    0px 0px 0px 0 black,
    0px 0px 0px 0 black,
    0px 0px 0px 0 black;
}

.board-list, footer, #control-panel {
    color: #AAAAAA;
}

.board-list a, footer a, #control-panel a {
    color: white !important;
}

footer {
    color: gray;
}

form {
    font-size: 0.9em;
}

textarea {
    color: #C0C0C0;
    background-color: #212121;
    border: 1px solid gray;
    width: 500px !important;
}

textarea:focus, input:focus, input[type=submit]:hover, select:focus {
    box-shadow: -1px -1px 2px 0 #698CC0,
    1px 1px 2px 0 #698CC0,
    0px 0px 0px 0 #698CC0,
    0px 0px 0px 0 #698CC0,
    0px 0px 0px 0 #698CC0;
    border: 1px solid #698CC0;
}

input[type=submit], input[type=button], select {
    background-color: #212121;
    color: #C0C0C0;
    border: 1px solid gray;
}

input[type=text], input[type=password], input[type=number] {
    background-color: #212121;
    color: #C0C0C0;
    border: 1px solid gray;
}

.time {
    font-size: 0.8em;
    color: #666666;
}

footer {
    font-family: serif;
    font-size: 12px;
    margin: 2em 0pt 0pt;
    text-align: center;
    border-top: 1px solid rgba(105, 140, 192, 0.3);
    padding-top: 10px;
}

.reflink {
    font-size: 85%;
    font-weight: bold;
}

.file-info {
    color: #666666;
    font-size: 0.8em;
    text-decoration: none;
}

.file-name {
    font-size: 0.8em;
}

.op-post {
    display: inline-block;
    width: 98%;
    margin: 3px;
    padding: 5px;
    background: none repeat scroll 0% 0% #1A1A1A;
    border: 1px dotted rgba(105,140,192,0.5);
}

.reply-post {
    display: inline-block;
    width: 96%;
    background: none repeat scroll 0% 0% #1A1A1A;
    border: 1px dotted rgba(105,140,192,0.5);
    margin: 0 0 0 2%;
    padding: 5px;
}

.popup-post {
    background: none repeat scroll 0% 0% #1A1A1A;
    border: 1px dotted rgba(105,140,192,0.5);
    margin: 3px;
    padding: 5px;
}

.highlighted-post {
    box-shadow: -1px -1px 2px 0 #698CC0,
    1px 1px 2px 0 #698CC0,
    0px 0px 0px 0 #698CC0,
    0px 0px 0px 0 #698CC0,
    0px 0px 0px 0 #698CC0;
    display: inline-block;
    width: 96%;
    background: none repeat scroll 0% 0% #1A1A1A;
    margin: 0 0 0 2%;
    padding: 5px;

}

.thread {
    margin: 2px; 
    border-top: 1px solid rgba(105, 140, 192, 0.3);
    padding: 25px 2px;
}

.reply-title {
    color: #CC0000;
    font-size: 1em;
    font-weight: bold;
}

hr {
    border-color: #505050;
    border-style: dotted none none;
    border-width: 1px;
}

table {
    border-style: none;
}

table td {
    border-style: none;
}

#delete-container {
    text-align: right;
}

pre {
    background-color: rgba(0,0,0,0.1);
    border: 1px dashed white;
    padding: 10px;
}

.board-category {
    font-weight: bold;
    background: none repeat scroll 0% 0% black;
}

#board-list-full {
    border: 1px dotted rgba(105, 140, 192, 0.5);
    width: auto !important;
}

#home-container {
    margin-left: auto !important;
    margin-right: auto !important;
}

#latest-news {
    border: 1px dotted rgba(105, 140, 192, 0.5);
}

#news-title {
    font-weight: bold;
    background: none repeat scroll 0% 0% black;
}

#popupMessage {
    background: none repeat scroll 0% 0% #2C2C2C;
    color: white;
    border: 1px dotted rgba(105, 140, 192, 0.5);
}

.post-block-named {
    background-color: #212121;
    padding: 3px;
}

#post-form {
    width: 100%;
    margin: 0;
}

#edit-form {
    background-color: #BFBFBF;
    padding-top: 2px;
}

.quick-post-form {
    border: 1px dotted rgba(105, 140, 192, 0.5);
    padding: 5px;
    width: 95% !important;
}

.hist-date {
    color: white;
}

.hist-msg {
    background: none repeat scroll 0% 0% #1A1A1A;
    border: 1px dotted rgba(105,140,192,0.5);
    margin: 3px;
    padding: 5px;
}

#main-title {
    color: red;
}

#board-header {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(105, 140, 192, 0.3);
    color: red;
}

#board-long-desc {
    color: #CC0000;
}

#board-subtitle {
    color: #CC0000;
}

.admin-navbar {
    background-color: black;
    border-bottom: 1px solid rgba(105, 140, 192, 0.3);
    padding: 3px;
    margin-bottom: 10px;
}

#delete-container {
    border-top: 1px solid rgba(105, 140, 192, 0.3);
    padding-top: 10px;
}

.show-plain-form {
    margin-bottom: 10px;
}

.expand-post {
    color: #666666;
}

.quote {
    color: #557755 !important;
}

#next-page {
    border-right: 1px dotted rgba(10, 10, 10, 0.7);
    padding-right: 5px;
}

#prev-page {
    border-left: 1px dotted rgba(10, 10, 10, 0.7);
    padding-left: 5px;
}

#thread-header {
    background-color: black;
    padding: 2px;
}

#control-panel {
    position: absolute;
    top: 3px;
    right: 3px;
}

.board-list {
    position: absolute;
    top: 3px;
    left: 3px;
}

.op-post .last-modified {
    float: none !important;
}

.ip-and-id {
    display:block;
}

.file-info {
    display:none;
}

#captcha {
    padding: 1px;
}
