#message {
    border: 1px dashed green;
    color: green;
}

* {
    font-family: terminus, Arial, sans-serif;
    font-size: 10pt;
}

header, .pagination {
    background-color: #151515;
}

html, body {
    background-color: #151515;
    color: #77cd3b;
    font-family: serif;
    font-size: 1em;
    padding: 15px;
}

form {
    font-size: 0.9em;
}

textarea {
    background-color: #292929;
    border: 1px dotted #77cd3b;
    color: #77cd3b;
}

input {
    background-color: #292929;
    border: 1px dotted #77cd3b;
    color: #77cd3b;
}

input.submit {
    border: 0;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

.poster-name {
    color: #117743;
}

.post-block-named {
    background-color: #292929;
    font-weight: bold;
    padding: 5px;
}

a {
    color: #68696b;
    padding: 0;
    border-bottom: #68696b 1px dotted;
}

a:hover {
    color: #dd0000;
}

header {
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    clear: both;
    color: #995b46;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

footer {
    font-family: serif;
    font-size: 12px;
    margin: 2em 0 0;
    text-align: center;
    border-top: 1px solid rgba(50,50,50,0.5);
    padding-top: 10px;
}

.reflink {
    font-size: 85%;
    font-weight: bold;
}

.file-info {
    color: #666666;
    font-size: 0.8em;
    text-decoration: none;
}

.file-name {
    font-size: 0.8em;
}

.reply.post, .feed .post {
    background: none repeat scroll 0 0 #292929;
    border: 1px solid #393939;
    margin: 4px;
    padding: 5px;
    border: 1px dotted #77cd3b;
}

.popup-post {
    background: none repeat scroll 0 0 #292929;
    border: 1px solid #393939;
    margin: 4px;
    padding: 5px;
}

.reply.post.highlighted, .feed .post.highlighted {
    background: none repeat scroll 0 0 #101010;
    border: 1px double #77cd3b;
}

.op.post.highlighted {
    background: none repeat scroll 0 0 #101010;
}

.thread {
    margin: 2px;
    border-top: 1px solid rgba(50,50,50,0.5);
    padding: 25px 2px;
}

.reply-title {
    color: #002244;
    font-size: 1em;
    font-weight: bold;
}

hr {
    border-style: solid none #bbbbbb;
    border-width: 1px;
}

table {
    border-style: none;
}

table td {
    border-style: none;
}

#delete-container {
    text-align: right;
}

pre {
    background-color: #eeeeee;
    border: 1px dashed #dfdfdf;
    padding: 10px;
}

.board-category {
    font-weight: bold;
    background: none repeat scroll 0 0 #292929;
}

#board-list-full {
    border: 1px solid #292929;
}

.block {
    border: 1px solid #292929;
}

#news-title {
    font-weight: bold;
    background: none repeat scroll 0 0 #292929;
}

.popup-message {
    background: none repeat scroll 0 0 #292929;
    border: 1px solid #393939;
}

.quick-post-form {
    background: none repeat scroll 0 0 #292929;
    border: 1px solid #393939;
    padding: 5px;
}

.hist-msg {
    background: none repeat scroll 0 0 #292929;
    border: 1px solid #393939;
    margin: 4px;
    padding: 5px;
}

.admin-navbar {
    border-top: 1px solid rgba(50,50,50,0.5);
    margin-bottom: 10px;
    padding: 3px;
    background-color: #292929;
}

#delete-container {
    border-top: 1px solid rgba(50,50,50,0.5);
    padding-top: 10px;
}

.show-plain-form {
    margin-bottom: 10px;
}

.markup-wrapper {
    background-color: #292929;
}

.expand-post {
    color: #666666;
}

.reply-title {
    color: #cc1105;
    font-size: 1.1em;
    font-weight: bold;
}

#pages-list {
    border: 1px solid grey;
    padding: 0 3px;
}
.dropdown-menu ul li {
    background-color: #292929;
}
.quote {
    color: #206620;
}

.spoiler, .spoiler a {
    color: black;
    background-color: black;
    border-bottom: none;
}

.spoiler a:hover {
    color: #dd0000;
    border-bottom: #68696b 1px dotted;
}

.spoiler:hover {
    color:white;
}
