.idea
Monaba
YobaCaptcha
PlainCaptcha
.stack-work
static/banners/*
!static/banners/feed
config.yml
upload/*
Captcha
upload.pl
.cabal-sandbox
cabal.sandbox.config
*.7z
dist*
cabal-dev/*
static/tmp/
static/combined/
static/upload/*
!static/upload/.keep
!static/upload/onion/.keep
static/captcha/*
!static/captcha/.keep
static/thumb/*
!static/thumb/.keep
config/client_session_key.aes
*.hi
*.o
*.sqlite3
.hsenv*
.ghci
yesod-devel/
nano-md5-0.1.2
geshi